@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');
:root {
    --white:#fff;
    --gray: #333333;
    --darkgray: #2e2e2e;
    --yellow: #f3cd52;
    --lightgray: rgba(255,255,255,0.4);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    line-height: 1.7;
    color: var(--gray);
    font-family: 'Pontano Sans', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

.container::after {
    display: block;
    content: "";
    clear: both;
}

button {
    background-color: var(--yellow);
    border: none;
    text-transform: uppercase;
    padding: 15px 30px;
    font-size: 1rem;
    letter-spacing: 1px;
}

button:hover {
    background-color: var(--white);
    transition: .4s ease;
}

hr {
    width: 70%;
    height: 1px;
    border: none;
    background-color: var(--lightgray);
    margin: 50px auto 0 auto;
}

/**************
Header
**************/

header {
    background-color: var(--yellow);
    text-align: center;
}

header nav ul {
    padding-top: 30px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    color: var(--gray);
    padding: 20px 40px;
    letter-spacing: 2px;
}

header h1 {
    font-size: 3rem;
    padding: 70px 0 15px 0;
    letter-spacing: 2px;
}

header p {
    text-transform: uppercase;
    padding-bottom: 70px;
    font-size: 1rem;
}

header img {
    display: block;
    border-top: 30px solid rgba(255,255,255,.5);
    border-left: 30px solid rgba(255,255,255,.5);
    border-right: 30px solid rgba(255,255,255,.5);
}

/**************
Services
**************/

.services {
    background-color: var(--gray);
    padding: 50px 0;
    text-align: center;
}

.services article {
    float: left;
    width: 33%;
    padding: 0 30px;
}

.services h3 {
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.services p {
    color: var(--lightgray);
    padding-bottom: 30px;
}

/**************
Portfolio
**************/
.portfolio {
    background-color: var(--gray);
    text-align: center;
}

.portfolio h2 {
    color: var(--white);
    font-size: 2.7rem;
    letter-spacing: 2px;
}

.portfolio p {
    padding: 30px 0 50px 0;
    color: var(--lightgray);
}

.portfolio article {
    float: left;
    width: 25%;
    padding: 0 30px;
}

.portfolio article img {
    width: 100%;
    height: auto;
}

.portfolio article .text {
    padding: 0 20px;
}

.portfolio article h4 {
    color: var(--white);
    font-size: 1.2rem;
}

.portfolio article p {
    color: var(--lightgray);
    padding-bottom: 30px;
}

/**************
Contact
**************/

.contact {
    background-color: var(--gray);
    padding: 50px 0;
    text-align: center;
}

.contact h2 {
    color: var(--white);
    font-size: 2.7rem;
    letter-spacing: 2px;
}

.contact p {
    color: var(--lightgray);
    padding: 30px 0;
}

.contact form {
    width: 40%;
    margin: auto;
}

.contact input,
.contact textarea {
    display: block;
    padding: 20px;
    width: 100%;
    background-color: var(--darkgray);
    border: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

::placeholder {
    color: var(--lightgray);
}

/**************
Footer
**************/

footer {
    text-align: center;
    background-color: var(--gray);
}

footer h2 {
    color: var(--white);
    letter-spacing: 2px;
    font-size: 2.7rem;
}

footer p {
    color: var(--lightgray);
    padding-bottom: 50px;
    padding-top: 30px;
}

footer a {
    background-color: var(--yellow);
    font-size: 1.7rem;
    padding: 15px 20px;
    margin: 0 20px;
}

footer i {
    color: var(--darkgray);
}

footer .copy {
    padding-top: 50px;
}

/**************
Responsive
**************/
@media(max-width:768px) {
    
    .container {
        width: 90%;
    }
    
    header nav ul li a {
        padding: 10px;
    }

    header h1 {
        font-size: 2.5rem;
    }
    
    .services article {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    
    .portfolio article {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    
    .contact p {
        padding: 30px;
    }
    
    .contact form {
        width: 80%;
    }
    
    footer p {
        padding: 30px 50px;
    }
    
    footer a {
        font-size: 1.5rem;
        padding: 10px 15px;
        margin: 0 15px;
    }
    
    footer .copy {
        padding: 50px 0;
    }
    
}

